<!-- Footer -->
<footer class="mx-auto max-w-5xl  mt-12">
    <div class="mx-auto max-w-7xl px-6 py-12 lg:px-8">
        <div class="mt-8 border-t pt-6 text-center text-sm text-gray-500 flex justify-between items-center">
            <div class="flex items-center gap-3">
                <img class="h-10 w-auto" src="{{ asset('logo/udbl-logo.png') }}" alt="Logo UDBL" />
                <span class="font-semibold text-gray-900 text-lg">Université Don Bosco de Lubumbashi</span>
            </div>
            <div class="flex items-center gap-3">
            © {{ "now"|date("Y") }} Université Don Bosco de Lubumbashi. Tous droits réservés.
            </div>
        </div>
    </div>
</footer>

