<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}UDBL - Gestion des Équipements{% endblock %}</title>
        <link rel="icon" href="{{ asset('logo/udbl-logo.png') }}" class="h-4" type="image/svg+xml+png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        {% endblock %}
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="{{ asset('js/esp32-monitor.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="font-sans bg-gray-50 antialiased">
        <main class="main-content">
            {% block body %}

            {% endblock %}
        </main>
    </body>
</html>
